--
-- PostgreSQL database dump
--

-- Dumped from database version 16.9
-- Dumped by pg_dump version 16.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: enum_CampaignEntities_visibility; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."enum_CampaignEntities_visibility" AS ENUM (
    'visible',
    'hidden',
    'partial'
);


ALTER TYPE public."enum_CampaignEntities_visibility" OWNER TO postgres;

--
-- Name: enum_Campaigns_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."enum_Campaigns_status" AS ENUM (
    'draft',
    'active',
    'archived'
);


ALTER TYPE public."enum_Campaigns_status" OWNER TO postgres;

--
-- Name: enum_Entities_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."enum_Entities_type" AS ENUM (
    'npc',
    'location',
    'organisation',
    'item',
    'other'
);


ALTER TYPE public."enum_Entities_type" OWNER TO postgres;

--
-- Name: enum_Entities_visibility; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."enum_Entities_visibility" AS ENUM (
    'visible',
    'hidden',
    'partial'
);


ALTER TYPE public."enum_Entities_visibility" OWNER TO postgres;

--
-- Name: enum_UserCampaignRoles_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."enum_UserCampaignRoles_role" AS ENUM (
    'dm',
    'player',
    'observer'
);


ALTER TYPE public."enum_UserCampaignRoles_role" OWNER TO postgres;

--
-- Name: enum_Users_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."enum_Users_role" AS ENUM (
    'system_admin',
    'dungeon_master',
    'player'
);


ALTER TYPE public."enum_Users_role" OWNER TO postgres;

--
-- Name: enum_Worlds_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."enum_Worlds_status" AS ENUM (
    'active',
    'archived'
);


ALTER TYPE public."enum_Worlds_status" OWNER TO postgres;

--
-- Name: enum_entities_visibility; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_entities_visibility AS ENUM (
    'hidden',
    'visible',
    'partial'
);


ALTER TYPE public.enum_entities_visibility OWNER TO postgres;

--
-- Name: enum_entity_relationship_type_entity_types_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_entity_relationship_type_entity_types_role AS ENUM (
    'from',
    'to'
);


ALTER TYPE public.enum_entity_relationship_type_entity_types_role OWNER TO postgres;

--
-- Name: enum_entity_type_fields_data_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_entity_type_fields_data_type AS ENUM (
    'string',
    'number',
    'boolean',
    'text',
    'date',
    'enum'
);


ALTER TYPE public.enum_entity_type_fields_data_type OWNER TO postgres;

--
-- Name: enum_user_campaign_roles_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_user_campaign_roles_role AS ENUM (
    'dm',
    'player',
    'observer'
);


ALTER TYPE public.enum_user_campaign_roles_role OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Campaigns; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Campaigns" (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    world_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    status public."enum_Campaigns_status" DEFAULT 'draft'::public."enum_Campaigns_status",
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    created_by uuid
);


ALTER TABLE public."Campaigns" OWNER TO postgres;

--
-- Name: Characters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Characters" (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    campaign_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    race character varying(255),
    class character varying(255),
    level integer DEFAULT 1,
    alignment character varying(255),
    notes text,
    is_active boolean DEFAULT true,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."Characters" OWNER TO postgres;

--
-- Name: UserCampaignRoles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserCampaignRoles" (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    campaign_id uuid NOT NULL,
    role public."enum_UserCampaignRoles_role" DEFAULT 'player'::public."enum_UserCampaignRoles_role" NOT NULL,
    "createdAt" timestamp with time zone
);


ALTER TABLE public."UserCampaignRoles" OWNER TO postgres;

--
-- Name: Users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Users" (
    id uuid NOT NULL,
    username character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(255) DEFAULT 'user'::character varying,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    email character varying(255)
);


ALTER TABLE public."Users" OWNER TO postgres;

--
-- Name: Worlds; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Worlds" (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    created_by uuid NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    system character varying(255),
    status public."enum_Worlds_status" DEFAULT 'active'::public."enum_Worlds_status" NOT NULL
);


ALTER TABLE public."Worlds" OWNER TO postgres;

--
-- Name: COLUMN "Worlds".system; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public."Worlds".system IS 'Game system or ruleset (e.g., D&D 5e, Pathfinder)';


--
-- Name: entities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.entities (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    world_id uuid NOT NULL,
    created_by uuid NOT NULL,
    entity_type_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    metadata jsonb DEFAULT '{}'::jsonb NOT NULL,
    visibility public.enum_entities_visibility DEFAULT 'hidden'::public.enum_entities_visibility NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.entities OWNER TO postgres;

--
-- Name: entity_relationship_type_entity_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.entity_relationship_type_entity_types (
    id uuid NOT NULL,
    relationship_type_id uuid NOT NULL,
    entity_type_id uuid NOT NULL,
    role public.enum_entity_relationship_type_entity_types_role NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.entity_relationship_type_entity_types OWNER TO postgres;

--
-- Name: entity_relationship_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.entity_relationship_types (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    world_id uuid NOT NULL,
    from_name character varying(150) NOT NULL,
    to_name character varying(150) NOT NULL
);


ALTER TABLE public.entity_relationship_types OWNER TO postgres;

--
-- Name: entity_relationships; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.entity_relationships (
    id uuid NOT NULL,
    from_entity uuid NOT NULL,
    to_entity uuid NOT NULL,
    bidirectional boolean DEFAULT false NOT NULL,
    context jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    relationship_type_id uuid NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.entity_relationships OWNER TO postgres;

--
-- Name: entity_secret_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.entity_secret_permissions (
    id uuid NOT NULL,
    secret_id uuid NOT NULL,
    user_id uuid NOT NULL,
    can_view boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.entity_secret_permissions OWNER TO postgres;

--
-- Name: entity_secrets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.entity_secrets (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    entity_id uuid NOT NULL,
    created_by uuid NOT NULL,
    title character varying(100),
    content text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.entity_secrets OWNER TO postgres;

--
-- Name: entity_type_fields; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.entity_type_fields (
    id uuid NOT NULL,
    entity_type_id uuid NOT NULL,
    name character varying(100) NOT NULL,
    label character varying(100),
    data_type public.enum_entity_type_fields_data_type NOT NULL,
    options jsonb DEFAULT '{}'::jsonb,
    required boolean DEFAULT false,
    default_value text,
    sort_order integer DEFAULT 0
);


ALTER TABLE public.entity_type_fields OWNER TO postgres;

--
-- Name: entity_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.entity_types (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.entity_types OWNER TO postgres;

--
-- Name: user_campaign_roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_campaign_roles (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    campaign_id uuid NOT NULL,
    role public.enum_user_campaign_roles_role NOT NULL,
    created_at timestamp with time zone
);


ALTER TABLE public.user_campaign_roles OWNER TO postgres;

--
-- Name: Campaigns Campaigns_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Campaigns"
    ADD CONSTRAINT "Campaigns_pkey" PRIMARY KEY (id);


--
-- Name: Characters Characters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Characters"
    ADD CONSTRAINT "Characters_pkey" PRIMARY KEY (id);


--
-- Name: UserCampaignRoles UserCampaignRoles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserCampaignRoles"
    ADD CONSTRAINT "UserCampaignRoles_pkey" PRIMARY KEY (id);


--
-- Name: Users Users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_pkey" PRIMARY KEY (id);


--
-- Name: Users Users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key" UNIQUE (username);


--
-- Name: Users Users_username_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key1" UNIQUE (username);


--
-- Name: Users Users_username_key10; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key10" UNIQUE (username);


--
-- Name: Users Users_username_key11; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key11" UNIQUE (username);


--
-- Name: Users Users_username_key12; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key12" UNIQUE (username);


--
-- Name: Users Users_username_key13; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key13" UNIQUE (username);


--
-- Name: Users Users_username_key14; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key14" UNIQUE (username);


--
-- Name: Users Users_username_key15; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key15" UNIQUE (username);


--
-- Name: Users Users_username_key16; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key16" UNIQUE (username);


--
-- Name: Users Users_username_key17; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key17" UNIQUE (username);


--
-- Name: Users Users_username_key18; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key18" UNIQUE (username);


--
-- Name: Users Users_username_key19; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key19" UNIQUE (username);


--
-- Name: Users Users_username_key2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key2" UNIQUE (username);


--
-- Name: Users Users_username_key20; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key20" UNIQUE (username);


--
-- Name: Users Users_username_key21; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key21" UNIQUE (username);


--
-- Name: Users Users_username_key22; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key22" UNIQUE (username);


--
-- Name: Users Users_username_key23; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key23" UNIQUE (username);


--
-- Name: Users Users_username_key24; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key24" UNIQUE (username);


--
-- Name: Users Users_username_key25; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key25" UNIQUE (username);


--
-- Name: Users Users_username_key26; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key26" UNIQUE (username);


--
-- Name: Users Users_username_key27; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key27" UNIQUE (username);


--
-- Name: Users Users_username_key28; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key28" UNIQUE (username);


--
-- Name: Users Users_username_key29; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key29" UNIQUE (username);


--
-- Name: Users Users_username_key3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key3" UNIQUE (username);


--
-- Name: Users Users_username_key30; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key30" UNIQUE (username);


--
-- Name: Users Users_username_key31; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key31" UNIQUE (username);


--
-- Name: Users Users_username_key32; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key32" UNIQUE (username);


--
-- Name: Users Users_username_key33; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key33" UNIQUE (username);


--
-- Name: Users Users_username_key34; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key34" UNIQUE (username);


--
-- Name: Users Users_username_key35; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key35" UNIQUE (username);


--
-- Name: Users Users_username_key36; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key36" UNIQUE (username);


--
-- Name: Users Users_username_key37; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key37" UNIQUE (username);


--
-- Name: Users Users_username_key38; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key38" UNIQUE (username);


--
-- Name: Users Users_username_key39; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key39" UNIQUE (username);


--
-- Name: Users Users_username_key4; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key4" UNIQUE (username);


--
-- Name: Users Users_username_key40; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key40" UNIQUE (username);


--
-- Name: Users Users_username_key41; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key41" UNIQUE (username);


--
-- Name: Users Users_username_key42; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key42" UNIQUE (username);


--
-- Name: Users Users_username_key43; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key43" UNIQUE (username);


--
-- Name: Users Users_username_key44; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key44" UNIQUE (username);


--
-- Name: Users Users_username_key45; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key45" UNIQUE (username);


--
-- Name: Users Users_username_key46; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key46" UNIQUE (username);


--
-- Name: Users Users_username_key47; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key47" UNIQUE (username);


--
-- Name: Users Users_username_key48; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key48" UNIQUE (username);


--
-- Name: Users Users_username_key49; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key49" UNIQUE (username);


--
-- Name: Users Users_username_key5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key5" UNIQUE (username);


--
-- Name: Users Users_username_key50; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key50" UNIQUE (username);


--
-- Name: Users Users_username_key51; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key51" UNIQUE (username);


--
-- Name: Users Users_username_key52; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key52" UNIQUE (username);


--
-- Name: Users Users_username_key53; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key53" UNIQUE (username);


--
-- Name: Users Users_username_key54; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key54" UNIQUE (username);


--
-- Name: Users Users_username_key55; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key55" UNIQUE (username);


--
-- Name: Users Users_username_key56; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key56" UNIQUE (username);


--
-- Name: Users Users_username_key57; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key57" UNIQUE (username);


--
-- Name: Users Users_username_key58; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key58" UNIQUE (username);


--
-- Name: Users Users_username_key59; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key59" UNIQUE (username);


--
-- Name: Users Users_username_key6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key6" UNIQUE (username);


--
-- Name: Users Users_username_key60; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key60" UNIQUE (username);


--
-- Name: Users Users_username_key61; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key61" UNIQUE (username);


--
-- Name: Users Users_username_key62; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key62" UNIQUE (username);


--
-- Name: Users Users_username_key7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key7" UNIQUE (username);


--
-- Name: Users Users_username_key8; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key8" UNIQUE (username);


--
-- Name: Users Users_username_key9; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key9" UNIQUE (username);


--
-- Name: Worlds Worlds_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Worlds"
    ADD CONSTRAINT "Worlds_pkey" PRIMARY KEY (id);


--
-- Name: entities entities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entities
    ADD CONSTRAINT entities_pkey PRIMARY KEY (id);


--
-- Name: entity_relationship_type_entity_types entity_relationship_type_entity_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_relationship_type_entity_types
    ADD CONSTRAINT entity_relationship_type_entity_types_pkey PRIMARY KEY (id);


--
-- Name: entity_relationship_types entity_relationship_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_relationship_types
    ADD CONSTRAINT entity_relationship_types_pkey PRIMARY KEY (id);


--
-- Name: entity_relationships entity_relationships_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_relationships
    ADD CONSTRAINT entity_relationships_pkey PRIMARY KEY (id);


--
-- Name: entity_secret_permissions entity_secret_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_secret_permissions
    ADD CONSTRAINT entity_secret_permissions_pkey PRIMARY KEY (id);


--
-- Name: entity_secret_permissions entity_secret_permissions_unique_secret_user; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_secret_permissions
    ADD CONSTRAINT entity_secret_permissions_unique_secret_user UNIQUE (secret_id, user_id);


--
-- Name: entity_secrets entity_secrets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_secrets
    ADD CONSTRAINT entity_secrets_pkey PRIMARY KEY (id);


--
-- Name: entity_type_fields entity_type_fields_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_type_fields
    ADD CONSTRAINT entity_type_fields_pkey PRIMARY KEY (id);


--
-- Name: entity_type_fields entity_type_fields_unique_name_per_type; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_type_fields
    ADD CONSTRAINT entity_type_fields_unique_name_per_type UNIQUE (entity_type_id, name);


--
-- Name: entity_types entity_types_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key UNIQUE (name);


--
-- Name: entity_types entity_types_name_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key1 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key10; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key10 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key11; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key11 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key12; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key12 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key13; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key13 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key14; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key14 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key15; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key15 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key16; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key16 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key17; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key17 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key18; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key18 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key19; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key19 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key2 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key20; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key20 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key21; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key21 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key22; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key22 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key23; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key23 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key24; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key24 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key25; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key25 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key26; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key26 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key27; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key27 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key28; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key28 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key29; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key29 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key3 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key30; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key30 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key31; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key31 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key32; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key32 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key33; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key33 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key34; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key34 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key35; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key35 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key36; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key36 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key4; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key4 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key5 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key6 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key7 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key8; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key8 UNIQUE (name);


--
-- Name: entity_types entity_types_name_key9; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_name_key9 UNIQUE (name);


--
-- Name: entity_types entity_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_types
    ADD CONSTRAINT entity_types_pkey PRIMARY KEY (id);


--
-- Name: entity_relationship_type_entity_types uniq_relationship_type_entity_type_role; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_relationship_type_entity_types
    ADD CONSTRAINT uniq_relationship_type_entity_type_role UNIQUE (relationship_type_id, entity_type_id, role);


--
-- Name: entity_relationship_types uniq_relationship_types_world_name; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_relationship_types
    ADD CONSTRAINT uniq_relationship_types_world_name UNIQUE (world_id, name);


--
-- Name: UserCampaignRoles unique_user_campaign_role; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserCampaignRoles"
    ADD CONSTRAINT unique_user_campaign_role UNIQUE (user_id, campaign_id);


--
-- Name: user_campaign_roles user_campaign_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_campaign_roles
    ADD CONSTRAINT user_campaign_roles_pkey PRIMARY KEY (id);


--
-- Name: idx_entities_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_entities_type ON public.entities USING btree (entity_type_id);


--
-- Name: idx_entities_world; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_entities_world ON public.entities USING btree (world_id);


--
-- Name: idx_entity_relationships_from; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_entity_relationships_from ON public.entity_relationships USING btree (from_entity);


--
-- Name: idx_entity_relationships_to; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_entity_relationships_to ON public.entity_relationships USING btree (to_entity);


--
-- Name: idx_relationship_types_world; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_relationship_types_world ON public.entity_relationship_types USING btree (world_id);


--
-- Name: Campaigns Campaigns_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Campaigns"
    ADD CONSTRAINT "Campaigns_created_by_fkey" FOREIGN KEY (created_by) REFERENCES public."Users"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Campaigns Campaigns_world_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Campaigns"
    ADD CONSTRAINT "Campaigns_world_id_fkey" FOREIGN KEY (world_id) REFERENCES public."Worlds"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Characters Characters_campaign_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Characters"
    ADD CONSTRAINT "Characters_campaign_id_fkey" FOREIGN KEY (campaign_id) REFERENCES public."Campaigns"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Characters Characters_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Characters"
    ADD CONSTRAINT "Characters_user_id_fkey" FOREIGN KEY (user_id) REFERENCES public."Users"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: UserCampaignRoles UserCampaignRoles_campaign_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserCampaignRoles"
    ADD CONSTRAINT "UserCampaignRoles_campaign_id_fkey" FOREIGN KEY (campaign_id) REFERENCES public."Campaigns"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserCampaignRoles UserCampaignRoles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserCampaignRoles"
    ADD CONSTRAINT "UserCampaignRoles_user_id_fkey" FOREIGN KEY (user_id) REFERENCES public."Users"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Worlds Worlds_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Worlds"
    ADD CONSTRAINT "Worlds_created_by_fkey" FOREIGN KEY (created_by) REFERENCES public."Users"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: entities entities_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entities
    ADD CONSTRAINT entities_created_by_fkey FOREIGN KEY (created_by) REFERENCES public."Users"(id) ON UPDATE CASCADE;


--
-- Name: entities entities_entity_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entities
    ADD CONSTRAINT entities_entity_type_id_fkey FOREIGN KEY (entity_type_id) REFERENCES public.entity_types(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: entities entities_world_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entities
    ADD CONSTRAINT entities_world_id_fkey FOREIGN KEY (world_id) REFERENCES public."Worlds"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: entity_relationship_type_entity_types entity_relationship_type_entity_types_entity_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_relationship_type_entity_types
    ADD CONSTRAINT entity_relationship_type_entity_types_entity_type_id_fkey FOREIGN KEY (entity_type_id) REFERENCES public.entity_types(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: entity_relationship_type_entity_types entity_relationship_type_entity_types_relationship_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_relationship_type_entity_types
    ADD CONSTRAINT entity_relationship_type_entity_types_relationship_type_id_fkey FOREIGN KEY (relationship_type_id) REFERENCES public.entity_relationship_types(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: entity_relationship_types entity_relationship_types_world_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_relationship_types
    ADD CONSTRAINT entity_relationship_types_world_id_fkey FOREIGN KEY (world_id) REFERENCES public."Worlds"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: entity_relationships entity_relationships_from_entity_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_relationships
    ADD CONSTRAINT entity_relationships_from_entity_fkey FOREIGN KEY (from_entity) REFERENCES public.entities(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: entity_relationships entity_relationships_relationship_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_relationships
    ADD CONSTRAINT entity_relationships_relationship_type_id_fkey FOREIGN KEY (relationship_type_id) REFERENCES public.entity_relationship_types(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: entity_relationships entity_relationships_to_entity_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_relationships
    ADD CONSTRAINT entity_relationships_to_entity_fkey FOREIGN KEY (to_entity) REFERENCES public.entities(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: entity_secret_permissions entity_secret_permissions_secret_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_secret_permissions
    ADD CONSTRAINT entity_secret_permissions_secret_id_fkey FOREIGN KEY (secret_id) REFERENCES public.entity_secrets(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: entity_secret_permissions entity_secret_permissions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_secret_permissions
    ADD CONSTRAINT entity_secret_permissions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."Users"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: entity_secrets entity_secrets_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_secrets
    ADD CONSTRAINT entity_secrets_created_by_fkey FOREIGN KEY (created_by) REFERENCES public."Users"(id) ON UPDATE CASCADE;


--
-- Name: entity_secrets entity_secrets_entity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_secrets
    ADD CONSTRAINT entity_secrets_entity_id_fkey FOREIGN KEY (entity_id) REFERENCES public.entities(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: entity_type_fields entity_type_fields_entity_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entity_type_fields
    ADD CONSTRAINT entity_type_fields_entity_type_id_fkey FOREIGN KEY (entity_type_id) REFERENCES public.entity_types(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

